* {
  box-sizing: border-box;
}

html {
  letter-spacing: 0.1em;
  color: $color-gray;
  font-family: $font-main;
  font-size: $font-size;
  overflow-y: scroll;
}

h1 {
  font-family: $font-header;
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.2em;
  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

a {
  text-decoration: none;
  color: $color-light;
}

.btn,
.btn-accent {
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  transition: background-color 0.5s;

  &:focus,
  &:hover {
    background-color: $color-accent;
  }
}

.btn {
  border: 2px solid $color-light;
  background-color: rgba($color-light, 0.1);
  @include lg-min {
    font-size: 1.125rem;
    min-width: 250px;
    padding: 18px $gap;
    height: 60px;
  }
  @include lg-md {
    min-width: 200px;
    padding: 14px $gap;
    height: 50px;
  }
  @include md {
    min-width: 170px;
    padding: 9px $gap;
    height: 40px;
  }
}

.btn-accent {
  border: 2px solid $color-primary;
  padding: 18px $gap;
  background-color: rgba($color-primary, 0.8);
  font-size: 1.125rem;
  height: 60px;
}



